:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
	background: var(--gray-900);
	color: var(--zinc-900);
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}